body{
	background: #ff4b00;
}

.login h1 a{
	background-image: none, url(../images/shooga-logo.jpg);
	-webkit-background-size: 220px;
	background-size: 220px;
	width: 100%;
}

#title{
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 24px 0px;
}

.login form{
	margin-top: 10px;
	padding: 0px 24px 0px;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.login label{
	color: #FFF;
	text-transform: uppercase;
	font-size: 12px;
}

.login form .forgetmenot label{
	text-transform: none;
}

.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large{
	padding: 0 40px 2px;
}

.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary{
	background: #000;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

.login #nav{
	margin: 0px;
}

.login #backtoblog a, .login #nav a{
	color: #FFF;
	text-decoration: underline;
}

#tel{
	color: #FFF;
	padding: 0 24px;
	margin-top:20px;
	text-align: center;
}